<h1>Profile:</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="4">Dzienne zapotrzebowanie</th>
      <th rowspan="2"></th>
      <th rowspan="2"></th>
    </tr>
    <tr>
      <th>Nazwa</th>
      <th>Płeć</th>
      <th>Wiek</th>
      <th>Waga</th>
      <th>Wzrost</th>
      <th>Poziom aktywności</th>
      <th>Kalorie</th>
      <th>Białko</th>
      <th>Tłuszcze</th>
      <th>Węglowodany</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.name, profile %></td>
        <td><%= profile_sex_description(profile) %></td>
        <td><%= profile.age %></td>
        <td><%= profile.weight %></td>
        <td><%= profile.height %></td>
        <td><%= profile.activity_level %></td>
        <td><%= profile.calories_need %></td>
        <td><%= profile.protein_need %></td>
        <td><%= profile.fat_need %></td>
        <td><%= profile.carbs_need %></td>
        <td><%= link_to 'Zmień', edit_profile_path(profile) %></td>
        <td><%= link_to 'Usuń', profile, method: :delete, data: { confirm: 'Na pewno chcesz usunąć ten profil?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nowy profil', new_profile_path %>

<%= render 'activity_levels' %>
