<p id="notice"><%= notice %></p>

<h1><%= @menu.name.titleize %></h1>

<table>
  <caption>Jadłospis - wartości odżywcze:</caption>
  <tr>
    <th>Kalorie</th>
    <th>Białko</th>
    <th>Tłuszcze</th>
    <th>Węglowodany</th>
  </tr>
  <tr>
  <th><%= "#{@menu.calories} kcal" %></th>
  <th><%= "#{@menu.protein} g" %></th>
  <th><%= "#{@menu.fat} g" %></th>
  <th><%= "#{@menu.carbs} g" %></th>
</table>

<h2>Posiłki:</h2>

<% @meals.each do |meal| %>
    <fieldset>

      <legend>
        <%= "#{@dish_types.find(meal.dish_type_id).name} - #{@dishes.find(meal.dish_id).dish_name.titleize}" %>
      </legend>

      <table>
        <tr>
          <th>Składniki</th>
          <th>Ilość</th>
          <th>Kalorie</th>
        </tr>
        <% @dishes.find(meal.dish_id).ingredients.each do | ingredient | %>
            <tr>
              <td><%= @products.find(ingredient.product_id).name %></td>
              <td><%= "#{ingredient.quantity_per_dish} g" %></td>
              <td><%= "#{@products.find(ingredient.product_id).calories} kcal" %></td>
            </tr>
        <% end %>
      </table>

      <h4>Wykonanie:</h4>
      <p><%= @dishes.find(meal.dish_id).steps %></p>

      <table>
        <tr>
          <th>Łącznie:</th>
          <th>Kalorie</th>
          <th>Białko</th>
          <th>Tłuszcze</th>
          <th>Węglowodany</th>
        </tr>
        <tr>
          <td></td>
          <td><%= "#{@dishes.find(meal.dish_id).dish_calories} kcal" %></td>
          <td><%= "#{@dishes.find(meal.dish_id).dish_protein} g" %></td>
          <td><%= "#{@dishes.find(meal.dish_id).dish_fat} g" %></td>
          <td><%= "#{@dishes.find(meal.dish_id).dish_carbs} g" %></td>
        </tr>
      </table>
    </fieldset>
<% end %>

<%= link_to 'Zmień jadłospis', edit_menu_path(@menu) %> |
<%= link_to 'Wróć do listy jadłospisów', menus_path %>
