<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Źródło:</strong>
  <%= @article.source %>
</p>

<p>
  <strong>Treść:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Zmień', edit_article_path(@article) %> |
<%= link_to 'Wróć', articles_path %>
