<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @products.find(@ingredient.product_id).name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ingredient.quantity_per_dish %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
