<br>
<table class="month_calendar_view">
  <thead>
  <tr>
    <th colspan="2" class="month_calendar_view_inside">
      <%= link_to('poprzedni', year_month: (@date.prev_month.to_s)[0..6]) %>
    </th>
    <th colspan="3" class="month_calendar_view_inside"><%= @months[@month] %></th>
    <th colspan="2" class="month_calendar_view_inside">
      <%= link_to('następny', year_month: (@date.next_month.to_s)[0..6]) %>
    </th>
  </tr>
  <tr>
    <% @week_days.each_value do |day| %>
        <th class="month_calendar_view_inside"><%= day %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @weeks.each_value do |week_array| %>
      <tr>
        <% week_array.each do |day| %>
            <td class="month_calendar_view_inside">
              <%= day %><br>
              <% if find_menu(day, @date) %>
                  <% find_menu(day, @date).meals.each do |meal| %>
                      <%= "#{@dish_types.find(meal.dish_type_id).name} - #{@dishes.find(meal.dish_id).dish_name.titleize}" %>
                      <br>
                  <% end %>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

