<%= form_for(@dish) do |f| %>
    <% if @dish.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

          <ul>
            <% @dish.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :dish_name, 'Nazwa:' %><br>
      <%= f.text_field :dish_name %>
    </div>

    <h3>Składniki</h3>

    <div class="ingredient_form_fields">
      <%= f.fields_for :ingredients do |ingredient_builder| %>
          <%= render 'ingredients_form', f: ingredient_builder %>
      <% end %>
    </div>

    <%= link_to  "Dodaj składnik", '#', class: 'add_fields' %>

    <div class="field">
      <%= f.label :steps, 'Wykonanie:' %><br>
      <%= f.text_area :steps %>
    </div>

    <div class="actions">
      <%= f.submit "Zapisz danie" %>
    </div>

<% end %>
