<div class="ingredient_fields">
  <div class="field">
    <%= f.label :product_id, 'Wybierz składnik' %>
    <%= f.select :product_id, @products.each.collect {|product| [product.name, product.id]} %>
  </div>

  <div class="field">
    <%= f.label :quantity_per_dish, 'Podaj potrzebną ilość składnika' %>
    <%= f.number_field :quantity_per_dish %>
  </div>


   <%= link_to  "Usuń składnik", '#', class: 'remove_ingredient_fields' %>


</div>