<h1>Dania</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Kalorie</th>
      <th>Białko</th>
      <th>Tłuszcze</th>
      <th>Węglowodany</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= link_to dish.dish_name, dish %></td>
        <td><%= "#{dish.dish_calories} kcal" %></td>
        <td><%= "#{dish.dish_protein} g" %></td>
        <td><%= "#{dish.dish_fat} g" %></td>
        <td><%= "#{dish.dish_carbs}g" %></td>
        <td><%= link_to 'Zmień', edit_dish_path(dish) %></td>
        <td><%= link_to 'Usuń', dish, method: :delete, data: { confirm: 'Na pewno chcesz usunąć danie?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nowe danie', new_dish_path %>
