<p id="notice"><%= notice %></p>

<h1><%= @dish.dish_name.titleize %></h1>>

<table>
  <caption>Składniki:</caption>
  <tr>
    <th>Składnik</th>
    <th>Ilość</th>
    <th>Kalorie</th>
    <th>Białko</th>
    <th>Tłuszcze</th>
    <th>Węglowodany</th>
  </tr>
  <% @ingredients_collection.each do | ingredient_name, ingredient_values | %>
      <tr>
        <td><%= ingredient_name %></td>
        <td><%= "#{ingredient_values[:amount]} g" %></td>
        <td><%= "#{ingredient_values[:calories]} kcal" %></td>
        <td><%= "#{ingredient_values[:protein]} g" %></td>
        <td><%= "#{ingredient_values[:fat]} g" %></td>
        <td><%= "#{ingredient_values[:carbs]} g" %></td>
      </tr>
  <% end %>
</table>

<h2>Wykonanie:</h2>

<p><%= @dish.steps %></p>

<table>
  <caption>Wartość posiłku:</caption>
  <tr>
    <th>Kalorie</th>
    <th>Białko</th>
    <th>Tłuszcze</th>
    <th>Węglowodany</th>
  </tr>
  <tr>
    <td><%= "#{@dish.dish_calories} kcal" %></td>
    <td><%= "#{@dish.dish_protein} g" %></td>
    <td><%= "#{@dish.dish_fat} g" %></td>
    <td><%= "#{@dish.dish_carbs} g" %></td>
  </tr>
</table>

<%= link_to 'Zmień danie', edit_dish_path(@dish) %> |
<%= link_to 'Wróć do listy dań', dishes_path %>
