<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Podaj nazwę produktu' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :protein, 'Podaj zawartość białka na 100g' %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :fat, 'Podaj zawartość tłuszczu na 100g' %><br>
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :carbs, 'Podaj zawartość węglowodanów na 100g' %><br>
    <%= f.text_field :carbs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
