<h1>Dostępne produkty</h1>

<table>
  <caption>Dla 100 g</caption>
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Kalorie</th>
      <th>Białko</th>
      <th>Tłuszcze</th>
      <th>Węglowodany</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_values.each do |product, product_values| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= "#{product.calories} kcal" %></td>
        <td><%= "#{product.protein} g (#{product_values[:protein]} kcal)" %></td>
        <td><%= "#{product.fat} g (#{product_values[:fat]} kcal)" %></td>
        <td><%= "#{product.carbs} g (#{product_values[:carbs]} kcal)" %></td>
        <td><%= link_to 'Zmień', edit_product_path(product) %></td>
        <td><%= link_to 'Usuń', product, method: :delete, data: { confirm: 'Na pewno chcesz usunąć produkt?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj nowy produkt', new_product_path %>
