<p id="notice"><%= notice %></p>

<h1><%= @product.name.capitalize %></h1>

<table>
  <caption>Wartości w 100 g</caption>
  <tr>
    <td>Kalorie:</td>
    <td><%= "#{@product.calories} kcal" %></td>
  </tr>
  <tr>
    <td>Białko:</td>
    <td><%= "#{@product.protein} g (#{@protein_kcal} kcal)" %></td>
  </tr>
  <tr>
    <td>Tłuszcze:</td>
    <td><%= "#{@product.fat} g (#{@fat_kcal} kcal)" %></td>
  </tr>
  <tr>
    <td>Węglowodany:</td>
    <td><%= "#{@product.carbs} g (#{@carbs_kcal} kcal)" %></td>
  </tr>
</table>

<%= link_to 'Zmień', edit_product_path(@product) %> |
<%= link_to 'Wróć do listy produktów', products_path %>
